# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Jupyter
.ipynb_checkpoints

# Streamlit
.streamlit/

# Temporary files
*.tmp
*.temp
*.swp
*.bak

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Excel and output files (optional)
# *.xlsx
*.csv

# Videos and models (already handled by Git LFS)
# *.mp4
# *.pt
